.header {
  display: flex;
  padding: 30px;
  flex-direction: row;
  justify-content: space-between;
}

.header img {
  width: 300px;
  height: 100px;
}

.header nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.header nav ul li {
  padding: 10px;
}

.header a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  size: 16px;
  color: #1E3A8A;
}